@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    background-color: cadetblue;
}
body{
    font-family: "Roboto", sans-serif;
    height: 1000px;
    width: 500px;
    background-color: white;
    margin: 0 auto;
}

h2{
    font-size: 15px;
    color: tomato;
    padding: 10px;
    border-bottom: 1px solid #afafaf;
}
table{
    width: 100%;
    margin-top: 5px;
    border-collapse:collapse ;
    padding: 10px;
}



table thead td{
    padding: 5px;
    background-color: lightslategray;
    color: white;
   
}

table tbody td{
    padding: 5px;
   
   
}
table tbody tr:nth-child(even){
    background-color: rgb(219, 224, 227);
 
}
.edit,.delete,.addbtn{
    text-decoration: none;
    color: white;
   padding: 2px 10px 2px 10px;
    text-align: center;
    border-radius: 3px;
     background-color:blueviolet;
}
.delete{
    background-color: red;
}
p{
    text-align: right;
    padding: 5px;
}
.addbtn{
    background-color: rgb(2, 66, 2);
    
}
.form_grop{
    
    margin-top: 10px;
    padding: 5px;
}
.form_grop label,.form_grop input{
    display: block;
}
button{
   
    color: white;
   padding: 2px 10px 2px 10px;
   border: none;
  
    border-radius: 3px;
     background-color:blueviolet;
     font-size: 12px;
}
.alert{
    display: block;
    padding: 5px;
    background-color: rgb(10, 123, 10);
    height: 20px;
    color: white;
}
input{
    font-size: 11px;
}